# https://github.com/github-linguist/linguist/blob/master/docs/overrides.md
# https://github.com/github-linguist/linguist/blob/master/lib/linguist/languages.yml
# Basic .gitattributes for git-config files
# =========================================
# These files are text and should be normalized (Convert crlf => lf)
*.gitattributes text eol=lf
.gitignore      text eol=lf

# Exclude files from exporting
.gitattributes  export-ignore
.gitignore      export-ignore

# Enable syntax highlighting for files with `.gitattributes` extensions.
*.gitattributes linguist-language=gitattributes
*.gitattributes linguist-detectable=false
*.gitattributes linguist-documentation=true


# General .gitattributes repo.
# ============================
*.txt   text
*.csv   text
*.md    text eol=lf diff=markdown linguist-documentation

# Matlab
*.m text diff=matlab linguist-language=MATLAB

# Archives
*.zip binary diff=exif

# Documents
*.docx binary diff=docx
*.xlsx binary diff=xlsx
*.pdf binary diff=pdf


# Basic .gitattributes for Altium repo.
# =====================================
# Basic .gitattributes for Altium repo.
# =====================================
*.DsnWrk binary
*.PrjPcb binary linguist-detectable
*.PrjPcbVariants binary
*.SchDoc binary linguist-detectable
*.PcbDoc binary linguist-detectable
*.PCBDwf binary
*.Harness binary
*.BomDoc binary
*.OutJob binary linguist-detectable
*.cam binary
*.DXPPrf binary
*.Annotation binary

# Multiboard specific
*.PrjMbd binary
*.MbsDoc binary
*.MbaDoc binary
*.MbDwf binary

# Libraries
*.PcbLib binary
*.SchLib binary
*.IntLib binary

# 3D body parts
*.[sS][tT][eE][pP]  binary
*.[sS][tT][pP] binary

# Gerber
*.gbr binary linguist-detectable
## Copper Layer
*.gtl binary linguist-detectable
*.gbl binary linguist-detectable
*.gb[1-9] binary
## Mechanical Layer
*.gm binary
*.gm[1-9]* binary
## Silkscreen
*.gto binary linguist-detectable
*.gbo binary linguist-detectable
## Solder Mask
*.gts binary linguist-detectable
*.gbs binary linguist-detectable
## Paste Mask
*.gtp binary linguist-detectable
*.gbp binary linguist-detectable
## keep out
*.gko binary linguist-detectable
## Pads Layer
*.gpt binary linguist-detectable
*.gpb binary linguist-detectable
## Drill info
*.gd1 binary
*.gg1 binary
*.txt binary

# Basic .gitattributes for a python repo.
# =====================================
# Source files
# ============
*.pxd    text diff=python
*.py     text diff=python
*.py3    text diff=python
*.pyw    text diff=python
*.pyx    text diff=python
*.pyz    text diff=python
*.pyi    text diff=python

# Binary files
# ============
*.db     binary
*.p      binary
*.pkl    binary
*.pickle binary
*.pyc    binary export-ignore
*.pyo    binary export-ignore
*.pyd    binary

# Jupyter notebook
*.ipynb  text eol=lf

# Note: .db, .p, and .pkl files are associated
# with the python modules ``pickle``, ``dbm.*``,
# ``shelve``, ``marshal``, ``anydbm``, & ``bsddb``
# (among others).
